<?xml version="1.0"?>
<!--
/**
 * Tony_Reports extension
 *                     NOTICE OF LICENSE
 * 
 *                     This source file is subject to the MIT License
 *                     that is bundled with this package in the file LICENSE.txt.
 *                     It is also available through the world-wide-web at this URL:
 *                     http://opensource.org/licenses/mit-license.php
 * 
 *                     @category  Kensium
 *                     @package   Kensium_OverSize
 *                     @copyright Copyright (c) 2016
 *                     @license   http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>        
        <add id="Tony_Reports::itemsbycustomer" title="Products By Customer" module="Tony_Reports" sortOrder="10" action="tonyreports/itemsbycustomer" resource="Tony_Reports::itemsbycustomer" parent="Magento_Reports::report_customers"/>
    </menu>
</config>
